apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: kong-pg
  namespace: kong-trad
spec:
  instances: 3
  storage:
    size: 1Gi
  bootstrap:
    initdb:
      database: kong
      owner: kong
      secret:
        name: kong-pg-access